@using Domain.Common.Enums
@{
    ViewBag.Title = "财务统计";
}
@*表格显示*@
<table id="dg" style="font-size: 20px; background:white;" data-options="fit:true, toolbar:'#tool'"></table>
@*搜索框*@
<div id="tool" name="tool" style="background-color: #f4f4f4; display: none;">
    <div style="margin:0 5px">
        <a href="#" id="btnAdd" class="easyui-linkbutton" iconcls="icon-add" plain="true">充值</a>
    </div>
    <form id="formMain" class="easyui-form">
        <div style="margin-bottom: 3px">
            开始时间: <input class="easyui-datetimebox" id="startTime" name="startTime" data-options="editable:false" style="width: 150px">
            收费银行: @Html.DropDownList("bank", Html.GetEnumDropDownList(typeof(Bank)), "全部", new { @class = "easyui-combobox", editable = false, panelHeight = "auto", style = "width:130px" })
            交易结果: @Html.DropDownList("TradeResult", Html.GetEnumDropDownList(typeof(TradeResult)), "全部", new { @class = "easyui-combobox", editable = false, panelHeight = "auto", style = "width:230px" })
            业务员:<input class="easyui-textbox" id="salesman" style="width: 230px;">
            标识: @Html.DropDownList("IdenTity", Html.GetEnumDropDownList(typeof(IdenTity)), "全部", new { @class = "easyui-combobox", editable = false, panelHeight = "auto", style = "width:130px" })

        </div>
        <div>
            结束时间: <input class="easyui-datetimebox" id="endTime" name="endTime" data-options="editable:false" style="width: 150px">
            支付方式: @Html.DropDownList("TradeType", Html.GetEnumDropDownList(typeof(TradeType)), "全部", new { @class = "easyui-combobox", editable = false, panelHeight = "auto", style = "width:130px" })
            客户账号:<input class="easyui-textbox" id="userid" style="width: 230px;">
            充费模式: @Html.DropDownList("rechargeMode", Html.GetEnumDropDownList(typeof(RechargeMode)), "全部", new { @class = "easyui-combobox", panelHeight = "auto", editable = false, style = "width:130px" })
            <a href="#" class="easyui-linkbutton" style="width: 70px;" onclick="select()" data-options="iconCls:'icon-search'">@Html.Caption(PageResource.ButtonSearch)</a>
            <a href="#" class="easyui-linkbutton" style="width: 70px;" onclick="reset()" data-options="iconCls:'icon-reload'">@Html.Caption(PageResource.ButtonReset)</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" title="选择分页数量导出数据" style="width: 70px;" onclick="exPort()" data-options="iconCls:'icon-print'">导出</a>
        </div>
    </form>
</div>
@*新增/修改界面*@
<div id="dlg" style="display:none;padding: 0;">
    <iframe></iframe>
</div>

@section FootScript{
    @*<script src="~/datagrid-export.js"></script>*@
    <script src="~/datagrid-export.js" charset="utf-8"></script>
    <script>
        var _operater; //操作
        var _operaterText; //操作描述
        var _describe = "财务统计"; //描述
        var __dgcreator;
        var _url = "/Recharge"; //路径
        var _tableName = "dg"; //表格名
        var _toolName = "tool"; //搜索框名

        $(function () {
            __dgcreator = new dgcreator(
                "#" + _tableName,
                _url,
                "",
                "recharge",
                {
                    pageList: [20, 50, 100, 150, 200],
                    onLoadSuccess: function () {
                        $('.btnrecharge').linkbutton(); //充值
                        $('.btnedit').linkbutton(); //编辑
                        $('.btndelete').linkbutton(); //删除
                        $(".btndelete").each(function (index, el) {
                            $(this).bind("click",
                                function () {
                                    var cid = $(this).data("id");
                                    $.messager.confirm('确认',
                                        '您确定要删除吗？',
                                        function (r) {
                                            if (r) {
                                                var rlt = req({ id: cid }, "/Recharge/delete");
                                                if (rlt) {
                                                    $("#" + _tableName).datagrid("reload", "/Recharge/GetList");
                                                }
                                            };
                                        });
                                });
                        });
                        $(".btnedit").each(function (index, el) {
                            $(this).bind("click",
                                function () {
                                    var cid = $(this).data("id");
                                    openDlg("dlg",
                                        "编辑客户",
                                        "/Recharge/Modify",
                                        g_const.largeDlgSize,
                                        { opt: "update", id: cid });
                                });
                        });
                        //////////充值/////////////////////////////////////////
                        $(".btnrecharge").each(function (index, el) {
                            $(this).bind("click",
                                function () {
                                    var cid = $(this).data("id");
                                    openDlg("dlg", "充值", "/Recharge/Modify", g_const.largeDlgSize, { id: cid });
                                });
                        });
                    },
                    rowStyler: function (index, row) {
                        //每行的高度
                        return 'height:24px;';
                    }
                },
                null,
                {
                    formatter: function (value, row, index) {
                        var html = "";
                        if (row.tradeType == "线下") {
                            html += '<a href="javascript:void(0)" class="btnedit"  data-id="' + row.id + '" data-options="plain:true"style="width:40px;height:20px;"><span id="color">编辑</span></a>';
                        }
                        return html;
                    }
                }
            );
            __dgcreator.beforeCreate = function (cols) {
            };
            __dgcreator.create();
        });

        //菜单栏查询数据
        function select() {
            var js = {
                "userid": $("#userid").val(),
                "Bank": $("#bank").val(),
                "RechargeMode": $("#rechargeMode").val(),
                "SalesMan": $("#salesman").val(),
                "startTime": $("#startTime").datebox('getValue'),
                "endTime": $("#endTime").datebox('getValue'),
                "IdenTity": $("#IdenTity").val(),
                "TradeResult": $("#TradeResult").val(),
                "TradeType": $("#TradeType").val()
                };
            __dgcreator.setdata(js);
        }

        //菜单栏重置按钮
        function reset() {
            $("#formMain").form("reset");
            __dgcreator.setdata({});
        }

        function req(data, url) {
            var json = null;
            $.ajax({
                async: false,
                type: "POST",
                url: url,
                data: data,
                success: function (data) {
                    json = data;
                },
                //XMLHttpRequest 对象、错误信息、（可选）捕获的异常对象
                error: function (data, textStatus, errorThrown) {
                    _this.notice("错误提示", "错误信息：" + data.responseText, "info");
                },
                dataType: "json"
            });
            return json;
        }

        //新增信息
        $("#btnAdd").click(function () {
            openDlg("dlg", "充值", "/Recharge/Modify", g_const.largeDlgSize, { opt: "add", id: "0" });
        });

        function exPort() {
            var myDate = new Date();
            $('#dg').datagrid('toExcel',
                '财务统计' + myDate.getFullYear() + '年' + (myDate.getMonth() + 1) + '月' + myDate.getDate() + '日' + '.xls');
        }
    </script>
}






